---
import Layout from '../layouts/Layout.astro';
import ThreeBackground from '../components/ThreeBackground.astro';
---

<Layout title="hybrid sessions." description="a week of creative interaction">
	<main>
		<h1>hybrid sessions</h1>
	</main>
	<ThreeBackground />
</Layout>

<style>
	main {
		margin: auto;
		padding: 0 10rem;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}


	h1 {
		font-size: 5em;
		color: #F45438;
		font-style: bold;
		line-height: 1.2;
		border-bottom: 5px solid;
	}
</style>
