---
import Layout from '../layouts/Layout.astro';
import ThreeBackground from '../components/ThreeBackground.astro';
---

<Layout title="hybrid sessions.">
	<main>
		<img src="/logo.svg" alt="hybrid sessions" />
		<h1>21.8. – 27.8.2023</h1>
	</main>
	<ThreeBackground />
</Layout>

<style>
	main {
		margin: auto;
		padding: 0 10rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	h1 {
		color: #F45438;
		font-style: bold;
		text-decoration: underline;
	}

	img {
		width: 60%;
	}
</style>
